.deps
.libs
Makefile
Makefile.in
Makefile.local
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libepc-1.0.pc
libepc-ui-1.0.pc
libtool
ltmain.sh
missing
stamp-h1
