*.o
*.l[ao]
*.l[ao]T
*.err
*.out
.dirstamp

test-consumer-by-name
test-dispatcher-local-collision
test-dispatcher-multiple-services
test-dispatcher-rename
test-dispatcher-reset
test-dispatcher-simple-service
test-dispatcher-subtypes
test-expand-name
test-progress-hooks
test-publisher-change-name
test-publisher-libsoup-494128
test-service-type
