*.stamp
*.bak

html
tmpl
xml

libepc-1.0-decl-list.txt
libepc-1.0-decl.txt
libepc-1.0-overrides.txt
libepc-1.0-undocumented.txt
libepc-1.0-unused.txt
libepc-1.0.args
libepc-1.0.hierarchy
libepc-1.0.interfaces
libepc-1.0.prerequisites
libepc-1.0.signals
libepc-1.0.types
